._*
.bundle
.DS_Store
.rvmrc
.ruby-version
.ruby-gemset
.pow*

*.gem
*.swp
database.yml
application.yml

tmp/*
log/*
coverage/*
vendor/bundle

spec/dummy/log/*
spec/dummy/tmp/*
spec/dummy/vendor/bundle/*
spec/dummy/coverage

!spec/dummy/config/database.yml
