<Body Id="Body-dc5e2377-21c4-4c65-ac85-dca58ca0be1e">
  <Fault>
    <faultcode>Server.704</faultcode>
    <faultstring>Application processing error</faultstring>
    <faultactor>Ensemble</faultactor>
    <detail>
      <errorDetailItem>
        <providerError>
          <providerErrorCode>100000297</providerErrorCode>
          <providerErrorText>978000152 - The equipment does not exist</providerErrorText>
        </providerError>
      </errorDetailItem>
    </detail>
  </Fault>
</Body>
