<Body Id="Body-31c93221-d080-4425-8519-d6504035169b">
  <querySubscriptionUsageResponse>
    <mdn>6192794793</mdn>
    <fromDate>2015-08-02</fromDate>
    <toDate>2015-08-02</toDate>
    <usageType>U</usageType>
    <totalCalls>8</totalCalls>
    <totalAirtimeUsage>0</totalAirtimeUsage>
    <areMoreCallDetails>false</areMoreCallDetails>
    <callDetailList>
      <callDetailRecord>
        <airtimeMinutes>0</airtimeMinutes>
        <activityUnit>K</activityUnit>
        <contentPartnerName/>
        <boboIndicator>false</boboIndicator>
        <callDate>2015-08-02</callDate>
        <callTime>08:48:53</callTime>
        <callingNumber/>
        <calledDestination/>
        <calledNumber/>
        <homeCall/>
        <nai>310120042360069</nai>
        <rpdrServiceCode/>
        <sid/>
        <usageQuantity>0.34</usageQuantity>
        <usageSourceInd>P</usageSourceInd>
        <contentTypeName/>
        <contentDetailedDescription/>
      </callDetailRecord>
      <callDetailRecord>
        <airtimeMinutes>0</airtimeMinutes>
        <activityUnit>K</activityUnit>
        <contentPartnerName/>
        <boboIndicator>false</boboIndicator>
        <callDate>2015-08-02</callDate>
        <callTime>14:07:47</callTime>
        <callingNumber/>
        <calledDestination/>
        <calledNumber/>
        <homeCall/>
        <nai>310120042360069</nai>
        <rpdrServiceCode/>
        <sid/>
        <usageQuantity>0.27</usageQuantity>
        <usageSourceInd>P</usageSourceInd>
        <contentTypeName/>
        <contentDetailedDescription/>
      </callDetailRecord>
      <callDetailRecord>
        <airtimeMinutes>0</airtimeMinutes>
        <activityUnit>K</activityUnit>
        <contentPartnerName/>
        <boboIndicator>false</boboIndicator>
        <callDate>2015-08-02</callDate>
        <callTime>15:09:37</callTime>
        <callingNumber/>
        <calledDestination/>
        <calledNumber/>
        <homeCall/>
        <nai>310120042360069</nai>
        <rpdrServiceCode/>
        <sid/>
        <usageQuantity>0.12</usageQuantity>
        <usageSourceInd>P</usageSourceInd>
        <contentTypeName/>
        <contentDetailedDescription/>
      </callDetailRecord>
      <callDetailRecord>
        <airtimeMinutes>0</airtimeMinutes>
        <activityUnit>K</activityUnit>
        <contentPartnerName/>
        <boboIndicator>false</boboIndicator>
        <callDate>2015-08-02</callDate>
        <callTime>17:42:00</callTime>
        <callingNumber/>
        <calledDestination/>
        <calledNumber/>
        <homeCall/>
        <nai>310120042360069</nai>
        <rpdrServiceCode/>
        <sid/>
        <usageQuantity>508.71</usageQuantity>
        <usageSourceInd>P</usageSourceInd>
        <contentTypeName/>
        <contentDetailedDescription/>
      </callDetailRecord>
      <callDetailRecord>
        <airtimeMinutes>0</airtimeMinutes>
        <activityUnit>K</activityUnit>
        <contentPartnerName/>
        <boboIndicator>false</boboIndicator>
        <callDate>2015-08-02</callDate>
        <callTime>18:20:02</callTime>
        <callingNumber/>
        <calledDestination/>
        <calledNumber/>
        <homeCall/>
        <nai>310120042360069</nai>
        <rpdrServiceCode/>
        <sid/>
        <usageQuantity>6520.74</usageQuantity>
        <usageSourceInd>P</usageSourceInd>
        <contentTypeName/>
        <contentDetailedDescription/>
      </callDetailRecord>
      <callDetailRecord>
        <airtimeMinutes>0</airtimeMinutes>
        <activityUnit>K</activityUnit>
        <contentPartnerName/>
        <boboIndicator>false</boboIndicator>
        <callDate>2015-08-02</callDate>
        <callTime>18:59:41</callTime>
        <callingNumber/>
        <calledDestination/>
        <calledNumber/>
        <homeCall/>
        <nai>310120042360069</nai>
        <rpdrServiceCode>WISP</rpdrServiceCode>
        <sid/>
        <usageQuantity>18.61</usageQuantity>
        <usageSourceInd>P</usageSourceInd>
        <contentTypeName/>
        <contentDetailedDescription/>
      </callDetailRecord>
      <callDetailRecord>
        <airtimeMinutes>0</airtimeMinutes>
        <activityUnit>K</activityUnit>
        <contentPartnerName/>
        <boboIndicator>false</boboIndicator>
        <callDate>2015-08-02</callDate>
        <callTime>20:12:39</callTime>
        <callingNumber/>
        <calledDestination/>
        <calledNumber/>
        <homeCall/>
        <nai>310120042360069</nai>
        <rpdrServiceCode/>
        <sid/>
        <usageQuantity>1.31</usageQuantity>
        <usageSourceInd>P</usageSourceInd>
        <contentTypeName/>
        <contentDetailedDescription/>
      </callDetailRecord>
      <callDetailRecord>
        <airtimeMinutes>0</airtimeMinutes>
        <activityUnit>K</activityUnit>
        <contentPartnerName/>
        <boboIndicator>false</boboIndicator>
        <callDate>2015-08-02</callDate>
        <callTime>22:09:49</callTime>
        <callingNumber/>
        <calledDestination/>
        <calledNumber/>
        <homeCall/>
        <nai>310120042360069</nai>
        <rpdrServiceCode/>
        <sid/>
        <usageQuantity>256.31</usageQuantity>
        <usageSourceInd>P</usageSourceInd>
        <contentTypeName/>
        <contentDetailedDescription/>
      </callDetailRecord>
    </callDetailList>
  </querySubscriptionUsageResponse>
</Body>
